<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546988942416-emab97q2mr9vkr51fs45mj359h987s2u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546988942416-emab97q2mr9vkr51fs45mj359h987s2u</string>
	<key>API_KEY</key>
	<string>AIzaSyB64_U4FRLTL105fWz6wcZLcm7IDwQ9Yhs</string>
	<key>GCM_SENDER_ID</key>
	<string>546988942416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>au.com.tina.greatapp</string>
	<key>PROJECT_ID</key>
	<string>greatapp-77760</string>
	<key>STORAGE_BUCKET</key>
	<string>greatapp-77760.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546988942416:ios:30b857727239d907879d55</string>
	<key>DATABASE_URL</key>
	<string>https://greatapp-77760.firebaseio.com</string>
</dict>
</plist>